<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Chat
    body
        h1 Sexy chat
        input#username
        button#login Log in
        #message
            textarea
            button Send Message
        #messages-list
        script(src="socket.io/socket.io.js")
        script(src="/chat.js")